p{
    color:darkblue;
    text-align: center;
    margin: 3rem;
}
ul{
    
    color:darkgreen;
    padding: 2rem;
}
ol{
    color:darkgreen;
    padding: 2rem;
}
main{
    background-color: aqua;
    font-weight: 600;
}
header{
    background-color: darkgray;
    font-weight: 500;
}

h2{
    font-family: fantasy;
    font-size: 2rem;
    text-align: center;
    margin: -.2rem;
}

h3{
    font-family: monospace;
    font-size: 2rem;
    text-align: center;
}
